services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - postgres_data:/var/lib/postgresql/data

  odoo:
    image: odoo:19
    depends_on:
      - postgres
    environment:
      - HOST=postgres
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./odoo-server:/mnt/extra-addons
      - ./odoo.conf:/etc/odoo/odoo.conf
    ports:
      - "8069:8069"

volumes:
  postgres_data: